@using GokoSite.Web.ViewModels.Forums;

@model ICollection<ForumViewModel>

<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>This is Goko's forum where you can share some of your ideas for improving the server!</h1>

        </div>
        <div class="container" style="width:85%;">
            @if (Model.Count > 0)
            {
                <p>
                     <a href="/RP/AddForum" class="btn forum-go-back-btn text-uppercase">Submit Post</a>
                     <a href="/RP/MyForums" class="btn forum-go-back-btn text-uppercase">Your posts</a>
                </p>
                <table style="width:70%; margin-right: 50%;">
                    <tbody>
                        @foreach (ForumViewModel post in Model)
                        {
                            <tr class="single-post-container">
                                <td class="single-post-container">
                                    <img src="~/images/rp/small-logo.png" /> |
                                    <a style="text-decoration: none;" class="post-title" href="/RP/SingleForum?postId=@post.ForumId">
                                        @(post.ForumTopic)
                                    </a>
                                    |
                                    <div class="forum-like text-right">
                                        <span>
                                            @if (post.Liked)
                                            {
                                                <a asp-controller="RP" asp-action="Like" asp-route-id="@post.ForumId" class="like">
                                                    <i class="fa fa-heart liked" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-controller="RP" asp-action="Like" asp-route-id="@post.ForumId" class="like">
                                                    <i class="fa fa-heart notliked" aria-hidden="true"></i>
                                                </a>
                                            }
                                            <span style="color: antiquewhite">@post.Likes</span>
                                        </span>
                                        @if (this.User.IsInRole("Administrator"))
                                        {
                                            <div class="admin-new-btn">
                                                <a class="btn forum-go-back-btn text-uppercase" onclick="return confirm('Are you sure?')" asp-route-id="@post.ForumId" asp-area="" asp-controller="Administration" asp-action="RemovePost">Delete Post</a>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="row">
                    <div class="no-forums">
                        <b> There are no posts yet! Be the first one to post -></b>
                        <a href="/RP/AddForum" class="btn btn-info text-uppercase">Add your own Idea!</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
