@using GokoSite.Web.ViewModels.Games;

<main class="mt-3">
    <h1 class="text-center suls-text-color">GOKO.GG</h1>
    @foreach (HomePageGameViewModel game in Model)
    {
        <div class="game-table">
            <table>
                <tr>
                    @if (game.BlueTeam.State == "Fail")
                    {
                        <th class="Fail">Defeat</th>
                        <th class="Fail"></th>
                        <th></th>
                        <th class="Win">Victory</th>
                        <th class="Win"></th>
                    }
                    else
                    {
                        <th class="Win">Victory</th>
                        <th class="Win"></th>
                        <th></th>
                        <th class="Fail">Defeat</th>
                        <th class="Fail"></th>
                    }
                </tr>
                <tr>
                    <th class="blueTeamNames">Player Names</th>
                    <th class="blueTeamNames">Champion Names</th>
                    <th></th>
                    <th class="redTeamNames">Player Names</th>
                    <th class="redTeamNames">Champion Names</th>
                </tr>
                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td class="blueTeam">
                            <img src="@game.BlueTeam.Players[i].ProfileIconUrl" class="playerIcon">
                            @game.BlueTeam.Players[i].Username
                        </td>
                        <td class="blueTeam">
                            <img src="@game.BlueTeam.Players[i].Champion.ChampionIconUrl" class="playerIcon">
                            @game.BlueTeam.Players[i].Champion.ChampionName
                        </td>
                        <td></td>
                        <td class="redTeam">
                            <img src="@game.RedTeam.Players[i].ProfileIconUrl" class="playerIcon">
                            @game.RedTeam.Players[i].Username
                        </td>
                        <td class="redTeam">
                            <img src="@game.RedTeam.Players[i].Champion.ChampionIconUrl" class="playerIcon">
                            @game.RedTeam.Players[i].Champion.ChampionName
                        </td>
                    </tr>

                }
                <tr>
                    <td>
                        <div id="wrapper">
                            <div id="second">
                                <a style="width: 350px;" href="/LOL/AddToCollection?gameId=@game.GameId&regionId=@game.RegionId" class="btn forum-go-back-btn text-uppercase">Add To Collection</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }

    <div class="button-holder">
        <a href="/LOL/lolapp" class="btn forum-go-back-btn text-uppercase"><-- Go Back</a>
    </div>
</main>
